.card {
  position: absolute;
  width: 30%;
  box-shadow: 0 10px 35px rgba(50,50,93,.1), 0 2px 15px rgba(0,0,0,.07);
  padding: 1em;
  background: #fff;
}

.container.grid, .container.flex {
  .card {
    position: static;
    width: auto;
  }
}
